 @font-face {
    /*给字体命名*/
    font-family: 'YouSheBiaoTiHei';
    /*引入字体文件*/
    src: url('/fonts/YouSheBiaoTiHei.ttf');
    font-weight: normal;
    font-style: normal;
 }
  @font-face {
    /*给字体命名*/
    font-family: 'AlibabaPuHuiTi';
    /*引入字体文件*/
    src: url('/fonts/Alibaba-PuHuiTi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
 }