
.sw-header {
    background-image: url(../../assets/images/header.png);
    background-size: 100%;
    color: #fff;
}

.sw-aside {
    background-image: url(../../assets/images/aside.png);
    background-size: 100%;
    margin-bottom: 0;
}

// .dark-drawer {
//     background: linear-gradient(180deg, rgba(38, 108, 173, 0.95) 0%, rgba(2, 65, 111, 0.95) 100%);
//     .el-drawer__header {
//         color: #FFF;
//     }
// }

// .dark-tabs {
//     > .el-tabs__header {
//         border-color: #2795D2;
//         .el-tabs__nav {
//             border-color: #2795D2;
//         }
//     }
//     .el-tabs__item {
//         color: #FFF;
//         background-color: rgba(38, 111, 164, 0.5);
//         border-color: #2795D2;
//         &.is-active {
//             background-color: #2795D2;
//             border-bottom-color: #2795D2;
//         }
//     }
// }

// .dark-form {
//     .el-form-item__label,
//     .el-radio__label {
//         color: #fff;
//     }

//     .el-input__inner {
//         color: #fff;
//         background-color: transparent;
//     }
// }

// .dark-description {
//     .el-descriptions__body {
//         color: #fff;
//         background-color: transparent;
//     }
//     .el-descriptions-item__label.is-bordered-label {
//         background: rgba(113, 183, 244, 0.1);
//         color: #fff;
//     }
//     .el-descriptions-item__cell {
//         border: 1px solid rgba(113, 183, 244, 0.3)!important;
//     }
// }

// .dark-el-table {
//     color: #FFF;
//     background-color: transparent;
//     &::before {
//         background-color: rgba(113, 183, 244, 0.3);
//     }
//     .el-table__header-wrapper th,
//     .el-table__fixed-header-wrapper th {
//         background-color: #0066cc;
//         color: white;
//     }
//     tr {
//         background-color: #003366;
//     }
//     .el-table__body tr:hover > td.el-table__cell {
//         background-color: #004c99;
//     }
//     th.el-table__cell.is-leaf,
//     td.el-table__cell {
//         border-bottom-color: rgba(113, 183, 244, 0.3)!important;
//     }
// }